{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

</head>
<body>
	<div class="container py-5">
	    <div class="row">
	        <div class="col-md-12">
	            <h2 class="text-center text-white mb-4"></h2>
	            <div class="row">
	                <div class="col-md-6 mx-auto">

	                    <!-- form card login -->
	                    <div class="card rounded-0">
	                        <div class="card-header">
	                            <h3 class="mb-0"><img src="{% static '/vectralis_logo.png' %}"></h3>
	                        </div>
	                        <div class="card-body">

	                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST" action="{% url 'login' %}">
	                            	{% csrf_token %}
	                            	
	                            	{% if error %}
							       		<div class="alert alert-danger" role="alert">
										  {{ error }}
										</div>
									{% endif %}
	                                <div class="form-group">
	                                    <label for="uname1">Username</label>
	                                    <input type="text" class="form-control form-control-lg rounded-0" name="username" id="uname1" required="">
	                                    <div class="invalid-feedback">Oops, you missed this one.</div>
	                                </div>
	                                <div class="form-group">
	                                    <label>Password</label>
	                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" name="password" required="" autocomplete="new-password">
	                                    <div class="invalid-feedback">Enter your password too!</div>
	                                </div>
	                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
	                            </form>
	                        </div>
	                        <!--/card-block-->
	                    </div>
	                    <!-- /form card login -->

	                </div>


	            </div>
	            <!--/row-->

	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	</div>
<!--/container-->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>