{% extends "base.html" %}

{% block content %}
{% load static %}
<br>
<div class="container">
    <div class="card">
      <h5 class="card-header">User Profile</h5>
      <div class="card-body">
          <div class="row">
              <div class="col-lg-6">
                  {% static "" as baseUrl %}
                  <center><img src="{{ baseUrl }}{{ request.user.email }}.jpeg" class="card-img-top rounded-circle" alt="..." style="width: 200px; margin-top:20px;" /></center>
              </div>
              <div class="col-lg-6">
                  <h1 style="color:blue;">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                  <!--<h2>{{ Position }}</h2>-->
                  <h2>Engineer</h2>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name:</b> {{ request.user.first_name }}</li>
                    <li class="list-group-item"><b>Last Name:</b> {{ request.user.last_name }}</li>
                    <li class="list-group-item"><b>Email:</b> {{ request.user.email }}</li>
                    <li class="list-group-item"><b>Department:</b> {{ depto }}</li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}