{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
	<form action="{% url 'register' curdate%}" method="post">
       		{% csrf_token %}

       		{% if error %}
	       		<div class="alert alert-danger" role="alert">
				  {{ error }}
				</div>
			{% endif %}
			<div class="form-group">
        		<label for="recipient-date" class="col-form-label"><b>Date:</b></label>
				<!--<input type="time" class="form-control" id="startTime" name="startTime" min="8:00" max="18:00" value="08:00" required>-->
    			<input id="date" type="text" class="form-control" name="date" value="{{ curdate }}" readonly="true" />
			</div>

        	<div class="form-group">
        		<label for="recipient-start" class="col-form-label"><b>Stars at:</b></label>
				<!--<input type="time" class="form-control" id="startTime" name="startTime" min="8:00" max="18:00" value="08:00" required>-->
    			<input id="startTime" type="time" class="form-control" name="startTime" value="08:00" required />
			</div>

			<div class="form-group">
        		<label for="recipient-end" class="col-form-label"><b>Ends at:</b></label>
				<!--<input type="time" class="form-control" id="endTime" name="endTime" min="8:00" max="18:00" value="18:00" required>-->
    			<input id="endTime" type="time" class="form-control" name="endTime" value="08:00" required />
			</div>

			<div class="form-group">
        		<label for="recipient-project" class="col-form-label"><b>Project:</b></label>
				<input type="text" class="form-control" placeholder="Click to search a project" name="project" id="project" style="cursor:pointer;" data-toggle="modal" data-target="#projectsModal" required>
		  	</div>

			<div class="form-group">
        		<label for="recipient-activity" class="col-form-label"><b>Activity:</b></label>
				<input type="text" class="form-control" placeholder="Click to search an activity" name="activity" id="activity" style="cursor:pointer;" data-toggle="modal" data-target="#activitiesModal" required>
				<!--<select class="form-control" id="" name="">
					<option value="no-selected">Please chose an activity</option>
					{% for activity in activities %}
				  		{% if activity.description %}
				    		<option value="{{ activity.description }}">{{ activity.description }}</option>
				    	{% endif %}
				    {% endfor %}
			    </select>-->
			</div>

			<div class="form-group">
        		<label for="recipient-activity" class="col-form-label"><b>Type a comment:</b></label>
			    <textarea class="form-control" id="comments" rows="3" name="comment"></textarea>
		  	</div>

		  	<div class="form-group">
	  			<a type="button" class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
  				<button type="submit" class="btn btn-primary">Save</button>
		  	</div>

      <!--</div>-->

      

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="projectsModal" tabindex="-1" role="dialog" aria-labelledby="ProjectsModal" aria-hidden="true" style="height:70%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose a project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="container mt-3">
              <input class="form-control" id="myInput" type="text" placeholder="Search..">
              <br>
              <table id="tableProject" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Project Number</th>
                    <th scope="col">Project Name</th>
					<th scope="col">Click to select</th>
                  </tr>
                </thead>
                <tbody>
				{% for project in projects %}
                  <tr>
					<td>{{ project.number }}</td>
					<td>{{ project.name }}</td>
					<td><button class="btn btn-primary chose_project">Select</button></td>
                  </tr>
				{% endfor %}
                </tbody>
              </table>

          </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="activitiesModal" tabindex="-1" role="dialog" aria-labelledby="ProjectsModal" aria-hidden="true" style="height:70%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activitiesModalLabel">Choose a project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="container mt-3">
              <input class="form-control" id="actInput" type="text" placeholder="Search..">
              <br>
              <table id="tableActivities" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Activity ID</th>
                    <th scope="col">Activity Name</th>
                  </tr>
                </thead>
                <tbody>
				{% for activity in activities %}
					{% if activity.description %}
					  <tr>
						<td>{{ activity.pk }}</td>
						<td>{{ activity.description }}</td>
						<td><button class="btn btn-primary chose_activity">Select</button></td>
					  </tr>
					{% endif %}
				{% endfor %}
                </tbody>
              </table>

          </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
 <script>
    $('#startTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#endTime').timepicker({
        uiLibrary: 'bootstrap4'
    });

    $(document).ready(function(){

	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#tableProject tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	  $("#tableProject").on('click','.chose_project',function(){
		 var currentRow=$(this).closest("tr");
		 var project_number = currentRow.find("td:eq(0)").text();

		 $('#projectsModal').modal('hide');
		 $('#project').val(project_number);
      });

	  $("#actInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#tableActivities tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });

		$("#tableActivities").on('click','.chose_activity',function(){
		 var currentRow=$(this).closest("tr");
		 var activity_name = currentRow.find("td:eq(1)").text();

		 $('#activitiesModal').modal('hide');
		 $('#activity').val(activity_name);
      });


	});
</script>
{% endblock %}
