{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
	<form action="{% url 'update' curdate %}" method="post">
       		{% csrf_token %}

       		{% if error %}
	       		<div class="alert alert-danger" role="alert">
				  {{ error }}
				</div>
			{% endif %}
			<input id="id" type="text" class="form-control" name="id" value="{% if id %}{{ id }}{% else %}0{% endif %}" readonly="true"  style="display:none;"/>
			<div class="form-group">
        		<label for="recipient-date" class="col-form-label"><b>Date:</b></label>
				<!--<input type="time" class="form-control" id="startTime" name="startTime" min="8:00" max="18:00" value="08:00" required>-->
    			<input id="date" type="text" class="form-control" name="date" value="{{ curdate|date:'Y-m-d' }}" readonly="true" />
			</div>

        	<div class="form-group">
        		<label for="recipient-start" class="col-form-label"><b>Stars at:</b></label>
				<!--<input type="time" class="form-control" id="startTime" name="startTime" min="8:00" max="18:00" value="08:00" required>-->
    			<input id="startTime" type="time" class="form-control" name="startTime" value="{{ start|date:'H:i' }}" required />
			</div>

			<div class="form-group">
        		<label for="recipient-end" class="col-form-label"><b>Ends at:</b></label>
				<!--<input type="time" class="form-control" id="endTime" name="endTime" min="8:00" max="18:00" value="18:00" required>-->
    			<input id="endTime" type="time" class="form-control" name="endTime" value="{{ end|date:'H:i' }}" required />
			</div>

			<div class="form-group">
        		<label for="recipient-project" class="col-form-label"><b>Project:</b></label>
				<select class="form-control" id="project" name="project">
					{% if n_project %}
						<option value="{{ n_project }}">{{ n_project }}</option>
					{% else %}
						<option value="no-selected">Please chose a project</option>
					{% endif %}
					{% for project in projects %}
				  		{% if project.number %}
				    		<option value="{{ project.number }}">{{ project.number }}</option>
				    	{% endif %}
				    {% endfor %}
			    </select>
			</div>

			<div class="form-group">
        		<label for="recipient-activity" class="col-form-label"><b>Activity:</b></label>
				<select class="form-control" id="activity" name="activity">
					{% if activity_ %}
						<option value="{{ activity_ }}">{{ activity_ }}</option>
					{% else %}
						<option value="no-selected">Please chose an activity</option>
					{% endif %}
					{% for activity in activities %}
				  		{% if activity.description %}
				    		<option value="{{ activity.description }}">{{ activity.description }}</option>
				    	{% endif %}
				    {% endfor %}
			    </select>
			</div>

			<div class="form-group">
        		<label for="recipient-activity" class="col-form-label"><b>Type a comment:</b></label>
			    <textarea class="form-control" id="comments" rows="3" name="comment">{{ comment }}</textarea>
		  	</div>

		  	<div class="form-group">
	  			<a type="button" class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
  				<button type="submit" class="btn btn-primary">Update</button>
		  	</div>

      <!--</div>-->

    </form>
</div>

{% endblock %}

{% block scripts %}
 <script>
    $('#startTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#endTime').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
{% endblock %}
