<style type="text/css">
    #container, #sliders {
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
    #container {
        height: 400px;
    }
</style>
{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div id="chart"></div>
        </div>
    </div>

    <div class="row">
        {% for user in users %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem; background-color:#fcfafa;" >
                    {% static "" as baseUrl %}
                    {% if user.profile_picture%}
                        <center><img src="{{ baseUrl }}{{ user.profile_picture }}" class="card-img-top rounded-circle" alt="..." style="width: 200px; margin-top:20px;"></img></center>
                    {% else %}
                        <center><img src="{{ baseUrl }}profile.png" class="card-img-top rounded-circle" alt="..." style="width: 200px; margin-top:20px;"></img></center>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ user.first_name }} </b></h5>
                        <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Projects Quantity
                                <span class="badge badge-primary badge-pill">{{ user.projectQty }}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Hours in favor
                                <span class="badge badge-primary badge-pill">{{ user.favor_hours }}</span>
                              </li>
                        </ul>
                        <br>
                        <!--<a class="btn btn-primary">Show Detail</a>-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/cylinder.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript">
    Highcharts.chart('chart', {
      chart: {
        type: 'cylinder',
        options3d: {
          enabled: true,
          alpha: 12,
          beta: 12,
          depth: 50,
          viewDistance: 35
        }
      },
      title: {
        text: 'Hours worked per project'
      },
      plotOptions: {
        series: {
          depth: 35,
          colorByPoint: true
        }
      },
      xAxis: {
        categories: [{% for category in categories %} '{{ category }}', {% endfor %}],
        labels: {
          skew3d: true,
          style: {
            fontSize: '16px'
          }
        },
        tickInterval: 1
      },
      yAxis: {
        title: {
          text: null
        },
        type: 'logarithmic',
        minorTickInterval: 0.1
      },
      series: [{
        data: [{% for serie in series %} {{ serie }}, {% endfor %}],
        name: 'Hours',
        showInLegend: false,
      }]
    });
</script>
{% endblock %}