
<style type="text/css">
	.btn-group-sm .btn-fab{
		position: fixed !important;
		right: 29px;
	}
	.btn-group .btn-fab{
		position: fixed !important;
		right: 20px;
	}

	.btn-circle {
		position: fixed !important;
		right: 20px;
		bottom: 20px;
	  background-color: blue;
	  height: 60px;
	  width: 60px;
	  border-radius: 50% !important;
	}
	.btn-circle a{
	  display: block;
	  width: 20px;
	  height: 20px;
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
	.btn-circle img{
	  width: 100%;
	  height: 100%;
	}

	#day_header {
		border:solid 1px;
		background-color:#00BFFF;
		padding-top: 20px;
		padding-bottom: 10px;
	}

</style>
{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<form class="form-group" method="post">
			{% csrf_token %}
			{% if error %}
	       		<div class="alert alert-danger" role="alert">
				  {{ error }}
				</div>
			{% endif %}
			<div class="form-group">
				<input id="go_day" type="date" class="form-control" name="date" max="{% now 'Y-m-d' %}" value="{{ today|date:'Y-m-d' }}" style="width: 200px; float: right;"  required/>
				<button type="submit" class="btn btn-primary" style="float: right;">Go</button>
			</div>
			<div class="form-group">
		  	</div>
		</form>
	</div>
</div>
<div class="container">
	<br>
	<div class="row" id="day_header">
		<div class="col-lg-2">
			<nav>
			  <ul class="pagination justify-content-center">
			    <li class="page-item"><!--disabled-->
			      <a class="page-link" href="{%url 'record_day' day_before%}" tabindex="-1">
			      	<< {{ day_before }} 
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
		<div class="col-lg-8">
			<!--<center><label><h6>Hey! <b>{{ request.user.username }}</b> these are your hours recored on {{ today }}</h6></label></center>-->
			<div><center><h1 style="color:white;">{{ today|date:'d' }}</h1></center></div>
			<div><center><h2 style="color:white;">{{ today|date:'M' }}, {{ today|date:'Y' }}</h2></center></div>
		</div>
		<div class="col-lg-2">
			<nav>
			  <ul class="pagination justify-content-center">
			  	{% if day_after == 'next' %}
			    	<li class="page-item disabled">
			    {% else %}
			    	<li class="page-item">
			    {% endif %}
			      <a class="page-link" href="{%url 'record_day' day_after%}"> 
			      	>> {{ day_after }} 
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
		
	</div>

	<div class="row activities">
		<table class="table table-striped" id="time_table">

			<thead>
					<th scope="col">Starts at</th>
					<th scope="col">Ends at</th>
					<th scope="col"><center>Duration</center></th>
					<th scope="col">Project</th>
					<th scope="col">Activity</th>
					<th scope="col">Comments</th>
					<th scope="col">Action</th>
				</tr>
			</thead>

			<tbody>
				{% for hour in hours %}
					<tr class="record">
						<td style="display:none;" class="pk">{{ hour.pk }}</td>
						<td class="start"><div>{{ hour.start_time|date:'H:i' }}</div></td>
						<td class="end">{{ hour.end_time|date:'H:i' }}</td>
						<td class="duration"><center>{{ hour.duration }}</center></td>
						<td class="project">{{ hour.project }}</td>
						<td class="description">{{ hour.description }}</td>
						<td>
							<div class="form-group">
								<textarea class="form-control comments" readonly>{{ hour.comments }}</textarea>
							</div>
						</td>
						<td>
							<img src="{% static '/edit.png' %}" alt="" style="width: 50px; cursor:pointer;" data-toggle="tooltip" data-placement="right" title="Edit" class="btnEdit"/>
						</td>
					</tr>
				{% endfor %}

			</tbody>

		</table>
	</div>

</div>

<a class="btn btn-info btn-circle mr-3" href="{% url 'register' today%}" data-toggle="tooltip" data-placement="right" title="Add">
	<img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1499509391/58a2031e6af142ce619ba2a2_plus-symbol_y6vqca.svg">
</a>

{% endblock %}
{% block scripts %}
	<script>
		$(function(){
			$("#time_table").on('click','.btnEdit',function(){
				 var currentRow=$(this).closest("tr");

				 var curdate = "{{ today|date:'Y-m-d' }}";
				 var id=currentRow.find("td:eq(0)").text();
				 var start=currentRow.find("td:eq(1)").text();
				 var end=currentRow.find("td:eq(2)").text();
				 var duration=currentRow.find("td:eq(3)").text();
				 var project=currentRow.find("td:eq(4)").text();
				 var description=currentRow.find("td:eq(5)").text();
				 var comments=currentRow.find("td:eq(6)").text();

				if (comments.length == 32 ){
					comments = "none";
				}
				window.location.replace(id + "/");
			});
		});
	</script>
{% endblock %}