<style type="text/css">
    #container, #sliders {
        min-width: 310px; 
        max-width: 800px;
        margin: 0 auto;
    }
    #container {
        height: 400px; 
    }
</style>
{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div id="chart"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/time.gif' %}" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 class="card-title"><b>The hours in favor that i have accumulated</b></h5>
                    <hr>
                    <p class="card-text" style="color:blue;">{{ favor_hours }}</p>
                    <!--<a class="btn btn-primary">Show Detail</a>-->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/work.gif' %}" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 class="card-title"><b>The project where i worked more</b></h5>
                    <hr>
                    <p class="card-text" style="color:blue;">{{ max_project }}</p>
                    <!--<a class="btn btn-primary">Show Detail</a>-->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/time_money.gif' %}" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 class="card-title"><b>The activity that i have done more</b></h5>
                    <hr>
                    <p class="card-text" style="color:blue;">{{ max_activity }}</p>
                    <!--<a class="btn btn-primary">Show Detail</a>-->
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/cylinder.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript">
    Highcharts.chart('chart', {
      chart: {
        type: 'cylinder',
        options3d: {
          enabled: true,
          alpha: 12,
          beta: 12,
          depth: 50,
          viewDistance: 35
        }
      },
      title: {
        text: 'Hours worked per project by {{ request.user.username }}'
      },
      plotOptions: {
        series: {
          depth: 35,
          colorByPoint: true
        }
      },
      xAxis: {
        categories: [{% for category in categories %} '{{ category }}', {% endfor %}],
        labels: {
          skew3d: true,
          style: {
            fontSize: '16px'
          }
        },
        tickInterval: 1
      },
      yAxis: {
        title: {
          text: null
        },
        type: 'logarithmic',
        minorTickInterval: 0.1
      },
      series: [{
        data: [{% for serie in series %} {{ serie }}, {% endfor %}],
        name: 'Hours',
        showInLegend: false
      }]
    });
</script>
{% endblock %}