{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
	<form action="{% url 'newProject' %}" method="post">
       		{% csrf_token %}

       		{% if error %}
	       		<div class="alert alert-danger" role="alert">
				  {{ error }}
				</div>
			{% endif %}
			<div class="form-group">
        		<label for="recipient-category" class="col-form-label"><b>Category:</b></label>
    			<input id="category" type="text" class="form-control" name="category" placeholder="e.g. SIP" required/>
			</div>

        	<div class="form-group">
        		<label for="recipient-project_number" class="col-form-label"><b>Project Number:</b></label>
    			<input id="project_number" type="text" class="form-control" name="project_number" value="{{ consecutive }}" readonly/>
			</div>

			<div class="form-group">
        		<label for="recipient-project_name" class="col-form-label"><b>Project Name:</b></label>
    			<input id="project_name" type="text" class="form-control" name="project_name" required />
			</div>

			<div class="form-group">
        		<label for="recipient-customer" class="col-form-label"><b>Customer:</b></label>
    			<input id="customer" type="text" class="form-control" name="customer" value="Vectralis" required />
			</div>

            <div class="form-group">
        		<label for="recipient-contact" class="col-form-label"><b>Contact:</b></label>
				<select class="form-control" id="contact" name="contact">
					<option value="no-selected">Please choose who is going to be the contact</option>
                    {% for user in users %}
                        <option value="{{ user.email }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
			    </select>
			</div>

            <div class="form-group">
        		<label for="recipient-owner" class="col-form-label"><b>Owner:</b></label>
				<select class="form-control" id="owner" name="owner">
					<option value="no-selected">Please choose who is going to be the owner</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
			    </select>
			</div>

            <div class="form-group">
        		<label for="recipient-scheduled_start" class="col-form-label"><b>Scheduled start date:</b></label>
    			<input id="scheduled_StartDate" type="text" class="form-control" name="scheduled_StartDate" required />
			</div>

            <div class="form-group">
        		<label for="recipient-scheduled_end" class="col-form-label"><b>Scheduled end date:</b></label>
    			<input id="scheduled_EndDate" type="text" class="form-control" name="scheduled_EndDate" required />
			</div>

			<div class="form-group">
        		<label for="recipient-comment" class="col-form-label"><b>Type a comment:</b></label>
			    <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
		  	</div>

		  	<div class="form-group">
	  			<a type="button" class="btn btn-secondary" href="{% url 'project' %}">Cancel</a>
  				<button type="submit" class="btn btn-primary">Save</button>
		  	</div>

    </form>
</div>


{% endblock %}

{% block scripts %}
 <script>
	$('#scheduled_StartDate').datepicker({
		format: 'yyyy-mm-dd'
	});
	$('#scheduled_EndDate').datepicker({
		format: 'yyyy-mm-dd'
	});
    $(document).ready(function(){

	});
</script>
{% endblock %}
