<style type="text/css">
	.btn-group-sm .btn-fab{
		position: fixed !important;
		right: 29px;
	}
	.btn-group .btn-fab{
		position: fixed !important;
		right: 20px;
	}

	.btn-circle {
		position: fixed !important;
		right: 20px;
		bottom: 20px;
	  background-color: blue;
	  height: 60px;
	  width: 60px;
	  border-radius: 50% !important;
	}
	.btn-circle a{
	  display: block;
	  width: 20px;
	  height: 20px;
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
	.btn-circle img{
	  width: 100%;
	  height: 100%;
	}

	#day_header {
		border:solid 1px;
		background-color:#00BFFF;
		padding-top: 20px;
		padding-bottom: 10px;
	}

</style>
{% extends "base.html" %}

{% load static %}

{% block styles %}
<link href='{% static "core/main.css" %}' rel='stylesheet' />
<link href='{% static "daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "list/main.css" %}' rel='stylesheet' />
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div id='calendar-container' style="height:800px;">
        <div id='calendar'></div>
    </div>
</div>
<a class="btn btn-info btn-circle mr-3" href="{% url 'newProject' %}" data-toggle="tooltip" data-placement="right" title="Add Project">
	<img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1499509391/58a2031e6af142ce619ba2a2_plus-symbol_y6vqca.svg">
</a>
{% endblock %}

{% block scripts %}
<script src='{% static "core/main.js" %}'></script>
<script src='{% static "interaction/main.js" %}'></script>
<script src='{% static "daygrid/main.js" %}'></script>
<script src='{% static "timegrid/main.js" %}'></script>
<script src='{% static "list/main.js" %}'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      height: 'parent',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultView: 'dayGridMonth',
      defaultDate: '{% now "Y-m-d" %}',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: /*[
        {
          title: 'All Day Event',
          start: '2019-08-01',
        },
        {
          title: 'Long Event',
          start: '2019-08-07',
          end: '2019-08-10'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2019-08-09T16:00:00'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2019-08-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2019-08-11',
          end: '2019-08-13'
        },
        {
          title: 'Meeting',
          start: '2019-08-12T10:30:00',
          end: '2019-08-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2019-08-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2019-08-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2019-08-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2019-08-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2019-08-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2019-08-28'
        }
      ]*/
      [
          {% for project in  projects%}
            {
                title: 'Project: {{ project.category }}{{ project.consecutive }} Engineer:{{ project.owner }}',
                start: '{{ project.scheduled_start_date|date:'Y-m-d' }}',
                end: '{{ project.scheduled_end_date|date:'Y-m-d' }}'
            },
          {% endfor %}
      ]
    });

    calendar.render();
  });
</script>
{% endblock %}