{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Service Hours</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block styles %}{% endblock %}
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }

    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static '/vectralis_logo.png' %}">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            {% static "" as baseUrl %}
                            <img src="{{ baseUrl }}{{ request.user.email }}.jpeg" class="card-img-top rounded-circle" alt="..." style="width: 30px;"><b> {{ request.user.username }}</b>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item nav-link text-black font-weight-bold" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item nav-link text-black font-weight-bold" href="{% url 'logout' %}">Log out</a>
                          </div>
                        </li>
                        <li class="nav-item text-black" style="cursor: pointer;">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'home' %}"><label style="color:blue;">Home |</label></a>
                        </li>
                        <li class="nav-item text-black" style="cursor: pointer;">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'reports' %}"><label style="color:blue;">My Activity |</label></a>
                        </li>
                        {% if request.user.is_staff %}
                            <li class="nav-item text-black" style="cursor: pointer;">
                                <a class="nav-link text-black font-weight-bold" href="{% url 'engineer_activity' %}"><label style="color:blue;">Engineer's Activity |</label></a>
                            </li>
                            <li class="nav-item text-black" style="cursor: pointer;">
                                <a class="nav-link text-black font-weight-bold" href="{% url 'project' %}"><label style="color:blue;">Projects</label></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Vectralis S.A de C.V</p>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    {% block scripts %}{% endblock %}
</script>
</html>